<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path('default_index') }}">{{ 'home'|trans|capitalize }}</a></li>
                    <li><a href="{{ path('admin_book_index') }}">{{ 'books'|trans|capitalize }}</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            Calcul area : {{ area(10, 5) }}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        M.toast({html: '{{ message }}', classes: '{{ label }}'});
                    {% endfor %}
                {% endfor %}
            });
        </script>
    </body>
</html>
